html, body{
    width: 100%;
    height: 100%;
}


.header{
    padding: 10px;
    background:#ad975b;
}
.header p{
    margin-bottom: 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.header img{
    margin: 0 20;
}
.body{
    height: 865px;
}
.footer{
    padding: 10px;
    text-align: center;
    background:#ad975b;
}
.footer p{
    margin-bottom: 0px;
}

/* login */
.login-body{
    height: 863px;
    background-image: url(../images/background-welcome.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #312b1b;
    text-align: center;
}
.login-form{
    padding: 20px;
    background: #ffffffa4;
    border-radius: 20px;
}
.login-form .card-body h3{
    margin-top: 30px;
}
.login-form .card-text{
    padding: 0 40px;
}
.login-form input[type="username"],
.login-form input[type="password"]{
    border: 2px solid #312b1b;
    border-radius: 10px;
    margin-bottom: 20px;
}
.login-form input[type="username"]:focus,
.login-form input[type="password"]:focus{
    outline: none;
    border: none;
    border: 2px solid #312b1b;
    border-radius: 10px;
    margin-bottom: 20px;
}
.login-form .card-text .btn{
    background: #312b1b;
    border: 2px solid #312b1b;
    border-radius: 10px;
}
.login-form .card-text .btn:hover{
    background: #312b1b;
    border: 2px solid #312b1b;
    border-radius: 10px;
}

/* anggota */
.anggota-body{
    background-image: url(../images/background-welcome.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.laporan h2{
    margin-top: 24px;
    margin-bottom: 20px;
    font-size: 50px;
    color: black;
    text-shadow: 2px 2px 4px white;
}
.laporan h3{
    color: black;
    text-shadow: 2px 2px 4px white;
}
.jenis-laporan{
    padding-bottom: 6%;
    margin-top: 8%;
}
.jenis-laporan .card{
    text-align: center;
    background: #ffffffa4;
    border-radius: 10px;
    margin-bottom: 51px;
}
.jenis-laporan .card-body h5{
    margin: 5px 0 20px 0;
}
.jenis-laporan .card-body .btn{
    margin-bottom: 10px;
    background: #312b1b;
    border: 2px solid #312b1b;
    border-radius: 10px;
}
.jenis-laporan .card-body .btn:hover{
    background: #312b1b;
    border: 2px solid #312b1b;
    border-radius: 10px;
}