html, body{
    width: 100%;
    height: 100%;
}


.header{
    padding: 10px;
    background:#ad975b;
}
.header p{
    margin-bottom: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.footer{
    padding: 10px;
    text-align: center;
    background:#ad975b;
}
.footer p{
    margin-bottom: 0px;
}


/* BODY LOGIN */
.login-body{
    height: 865px;
    background-image: url(../images/background-welcome.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #312b1b;
    text-align: center;
}
.login-form{
    padding: 20px;
    background: #ffffffa4;
    border-radius: 20px;
}
.card-body h3{
    margin-top: 30px;
}
.card-text{
    padding: 0 40px;
}
input[type="username"],
input[type="password"]{
    border: 2px solid #312b1b;
    border-radius: 10px;
    margin-bottom: 20px;
}
input[type="username"]:focus,
input[type="password"]:focus{
    outline: none;
    border: none;
    border: 2px solid #312b1b;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card-text .btn{
    background: #312b1b;
    border: 2px solid #312b1b;
    border-radius: 10px;
}
.card-text .btn:hover{
    background: #312b1b;
    border: 2px solid #312b1b;
    border-radius: 10px;
}
